.vs/
.vscode/
*.user
*.suo
*.ipch
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.db

x64/
x86/
[Dd]ebug/
[Rr]elease/
build/
out/

*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.ilk
*.exp

*.pdb
*.idb

*.so
*.dylib
*.dll
# !glew32.dll
# !SDL3.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

*.dwo